* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: Montserrat;
}

.wrapper {
  height: 100vh;
  overflow-x: hidden;
}

.wrapper nav {
  background-color: #3e3e3e;
  color: #ffffff;
  font-size: 2rem;
  font-weight: 600;
  width: 100%;
  height: 5%;
  min-height: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0 0.5em;
}

@media (max-width: 768px) {
  .wrapper nav {
    height: 10%;
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
}

.wrapper nav .logo {
  margin-right: 0.7em;
}

.wrapper nav .left {
  width: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.wrapper nav .left .nav-list {
  text-transform: uppercase;
  font-size: 0.8rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  list-style: none;
}

.wrapper nav .left .nav-list-item {
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
  cursor: pointer;
  padding: 0.5em;
  margin-right: 0.5em;
  border-radius: 8px;
}

.wrapper nav .left .nav-list-item:hover {
  background-color: #ff6060;
}

.wrapper nav .left .nav-list-item:nth-child(1) {
  background-color: #ff6060;
}

.wrapper nav .right {
  width: auto;
}

@media (max-width: 768px) {
  .wrapper nav .right {
    -ms-flex-item-align: end;
        align-self: flex-end;
  }
}

.wrapper nav .right .hamburger {
  scrollbar-width: none;
  width: 1.1em;
  height: 0.7em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  cursor: pointer;
}

.wrapper nav .right .hamburger::-webkit-scrollbar {
  display: none;
}

@media (max-width: 768px) {
  .wrapper nav .right .hamburger {
    width: 0.8em;
    height: 0.5em;
  }
}

.wrapper nav .right .hamburger span {
  width: 100%;
  height: 0.08em;
  background-color: #ffffff;
  -webkit-transform-origin: left;
          transform-origin: left;
  -webkit-transition: all 1s ease;
  transition: all 1s ease;
}

.wrapper nav .right.active .hamburger {
  scrollbar-width: none;
}

.wrapper nav .right.active .hamburger::-webkit-scrollbar {
  display: none;
}

.wrapper nav .right.active .hamburger span:first-child {
  background-color: white;
  -webkit-transform: rotate(44deg);
          transform: rotate(44deg);
}

.wrapper nav .right.active .hamburger span:nth-child(2) {
  opacity: 0;
}

.wrapper nav .right.active .hamburger span:last-child {
  background-color: white;
  -webkit-transform: rotate(-44deg);
          transform: rotate(-44deg);
}

.wrapper .menu {
  width: 20em;
  height: 100vh;
  background-color: #3e3e3e;
  position: fixed;
  top: 5%;
  right: -20em;
  z-index: 3;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: center;
          flex-direction: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-transition: all 0.6s ease;
  transition: all 0.6s ease;
}

.wrapper .menu.active {
  right: 0;
}

.wrapper .menu ul {
  margin: 0;
  padding: 0;
  list-style: none;
  font-size: 1.8rem;
  color: #3e3e3e;
  font-weight: 300;
  text-align: center;
  width: 80%;
}

.wrapper .menu ul li {
  margin: 0 0 1.5em 0;
}

.wrapper .menu ul li a {
  font-size: 1.8rem;
  color: #ffffff;
  text-decoration: none;
}

.wrapper .menu ul li:hover {
  font-weight: 500;
}

.wrapper .main-menu {
  background-color: #ffffff;
  min-height: 250px;
  height: 25%;
}

.wrapper .main-menu .upper {
  height: 60%;
  padding: 1em 1em 0.5em 1em;
  border-bottom: solid 1px lightgray;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: initial;
  overflow-x: auto;
  counter-reset: ctr;
}

.wrapper .main-menu .upper::-webkit-scrollbar {
  width: 0;
}

@media (max-width: 768px) {
  .wrapper .main-menu .upper {
    height: 30%;
  }
}

.wrapper .main-menu .upper .animation-group {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  margin-right: 1em;
  font-weight: 600;
  color: whitesmoke;
  width: 120px;
  min-width: 120px;
  height: 120px;
  border-radius: 50%;
  background-color: #3e3e3e;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

.wrapper .main-menu .upper .animation-group::after {
  counter-increment: ctr;
  content: counter(ctr);
}

@media (max-width: 768px) {
  .wrapper .main-menu .upper .animation-group {
    padding: 0.5em 0.5em;
    height: 40px;
    width: 40px;
    border-radius: 10px;
    font-size: 0.6em;
  }
}

.wrapper .main-menu .upper .animation-group:hover {
  background-color: #ff6060;
}

.wrapper .main-menu .upper .animation-group:nth-child(1) {
  background-color: #ff6060;
}

.wrapper .main-menu .lower {
  min-height: 50px;
  height: 40%;
  padding: 1em 1em;
  display: -ms-grid;
  display: grid;
  gap: 1rem;
  -ms-grid-columns: (minmax(100px, 1fr))[auto-fit];
      grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
}

@media (max-width: 768px) {
  .wrapper .main-menu .lower {
    -ms-grid-row: 1;
    grid-row: 1;
    height: 5%;
  }
}

.wrapper .main-menu .lower .variation {
  width: 8em;
  height: 2em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-right: 6em;
  border-radius: 10px;
  -webkit-transition: all 0.4s ease;
  transition: all 0.4s ease;
}

.wrapper .main-menu .lower .variation:hover {
  background-color: #ff6060;
}

.wrapper .main-menu .lower .variation:nth-child(1) {
  background-color: #ff6060;
}

.wrapper main {
  width: 100vw;
  height: 70%;
  background-color: #dfdfdf;
  position: relative;
}

.wrapper main aside {
  position: absolute;
  top: 4%;
  left: 2%;
  background-color: #ffffff;
  width: 300px;
  height: 520px;
  padding: 2em;
  font-weight: 500;
}

@media (max-width: 768px) {
  .wrapper main aside {
    display: none;
  }
}

.wrapper main .toggle-menus {
  position: absolute;
  top: 4%;
  right: 3%;
  width: 220px;
  height: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media (max-width: 768px) {
  .wrapper main .toggle-menus {
    width: 150px;
    height: 40px;
  }
}

.wrapper main .toggle-menus .toggle-menu-item {
  font-size: 1.1rem;
  padding: 0.7em;
  border-radius: 10px;
  background-color: #ffffff;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

@media (max-width: 768px) {
  .wrapper main .toggle-menus .toggle-menu-item {
    font-size: 0.8rem;
  }
}

.wrapper main .toggle-menus .toggle-menu-item:hover {
  background-color: #ff6060;
}

.wrapper main .box {
  position: absolute;
  background-color: #3e3e3e;
  width: 200px;
  height: 200px;
  top: 35%;
  right: 35%;
}

@media (max-width: 768px) {
  .wrapper main .box {
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
  }
}

.wrapper h1 {
  font-size: 4rem;
  text-transform: uppercase;
  font-weight: 200;
}

.intro {
  background-color: #3e3e3e;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.intro .heading {
  color: whitesmoke;
  text-transform: capitalize;
  font-size: 3rem;
}

@media (max-width: 768px) {
  .intro .heading {
    font-size: 1.5rem;
  }
}

.intro .heading h2 {
  background-color: #3e3e3e;
  overflow: hidden;
  font-weight: bolder;
}

.intro .heading h2 span {
  display: inline-block;
  -webkit-transform: translateY(100%);
          transform: translateY(100%);
}
/*# sourceMappingURL=style.css.map */